@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: 'Poppins', sans-serif;
}

.collapsible .content {
  padding: 6px;
}
.collapsible .header {
  padding: 6px;
  cursor: pointer;
}
