MAIN_ACCOUNT=account.testnet
CONTRACT_METHOD=contract_method
NMETIL_CONTRACT=nmetil-contract-subaccount
STIBOGLUCONATE_CONTRACT=stibogluconate-contract-subaccount
PENTAMIDINE_CONTRACT=pentamidine-contract-subaccount
MILTEFOSINE_CONTRACT=miltefosine-contract-subaccount
AMPHOTERICINBLIPOSOMAL_CONTRACT=amphotericinbliposomal-contract-subaccount
